html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  position: relative;
  bottom: 100px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -90px;
}

.wrapper:after {
  content: "";
  display: block;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

.main-content {
  padding-top: 100px;
}

th {
  text-align: left;
}

header {
  width: 100%;
  height: 100px;
  background: rgba(255,255,255,.96);
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0,0,0,.35);
  z-index: 50;
}

header .container {
  padding: 10px 20px;
}

header h1 {
  display: inline-block;
}

header h1 a {
  text-decoration: none;
  color: #18191b;
}

nav {
  display: inline-block;
  text-align: right;
  float: right;
  line-height: 50px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul img {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  margin-left: 10px;
}

nav ul a {
  color: #7f8081;
  text-decoration: none;
}

nav ul a:hover {
  color: #18191b;
}

nav ul a.sign-in {
  color: #fff;
  padding: 5px 20px;
  text-align: center;
  background: #ef5344;
  background: -moz-linear-gradient(top,#ef5344 0%,#e64a3b 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ef5344),color-stop(100%,#e64a3b));
  background: -webkit-linear-gradient(top,#ef5344 0%,#e64a3b 100%);
  background: -o-linear-gradient(top,#ef5344 0%,#e64a3b 100%);
  background: -ms-linear-gradient(top,#ef5344 0%,#e64a3b 100%);
  background: linear-gradient(to bottom,#ef5344 0%,#e64a3b 100%);
  border: 1px solid #b03b30;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 152px;
  height: 25px;
  text-transform: uppercase;
}

nav ul a.sign-in:hover {
  color: #fff;
  text-decoration: none;
  background: #fb5949;
  background: -moz-linear-gradient(top,#fb5949 0%,#f24f40 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fb5949),color-stop(100%,#f24f40));
  background: -webkit-linear-gradient(top,#fb5949 0%,#f24f40 100%);
  background: -o-linear-gradient(top,#fb5949 0%,#f24f40 100%);
  background: -ms-linear-gradient(top,#fb5949 0%,#f24f40 100%);
  background: linear-gradient(to bottom,#fb5949 0%,#f24f40 100%);
}

.content {
  margin-top: 100px;
}

footer {
  height: 90px;
  width: 100%;
  background: #20272d;
  position: absolute;
  z-index: 80;
}

.wrapper:after {
  height: 90px;
}

footer nav {
  float: none;
  text-align: left;
  line-height: 15px;
}

footer nav a {
  color: #fff;
}

footer nav a:hover {
  color: #fff;
  text-decoration: underline;
}

th {
  text-align: left;
}

div#guide.stick{
  left: 0;
  position: fixed;
  top: 0;
}

div#guide{
  background: white;
  border-right: 1px solid #dadfe5;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 50px;
  width: 200px;
  z-index: 25;
  margin-top: 100px;
}

div#guide:before {
  content: "";
  display: block;
  height: 24px;
}

div#guide:after {
  content: "";
  display: block;
  height: 24px;
}

div#guide p.ref-title:first-child {
  padding-top: 0;
}

div#guide p.ref-title {
 color: #7a8e99;
  font-size: 11px;
  font-weight: bold;
  padding: 24px 20px 6px;
}

div#guide ul.ref-list {
  padding: 0;
}

div#guide ul.ref-list li.section a {
  border: 1px solid transparent;
  border-left: 0;
  display: block;
  font-size: 12;
  font-weight: bold;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  padding: 0 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ea4a3c;
}

div#guide ul.ref-list li.section a:hover{
  color: white;
}

div#guide ul.ref-list li.section:hover {
  background-color: #ea4a3c;
}

div#guide ul.ref-list li.section a.viewing {
  background: linear-gradient(#4f9fef, #3577d0);
  border-bottom-color: #4f9fef;
  border-right-color: #008cdd;
  border-top-color: #3b89e9;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.45);
}

div#api-docs div#methods {
  box-shadow: #0f131a -1px 0 0, rgba(0,0,0,0.5) 1px 0 2px inset;
  background-color: #292e33;
  margin-left: 50%;
  position: relative;
}

div#api-docs div#methods .method-section .method-example {
  margin-left: 50%;
  padding: 38px 30px 0;
  padding-top: 0;
  position: relative;
  text-shadow: 0 1px 0 rgba(0,0,0,0.7);
}

 div#api-docs div#methods .method-section h3 {
  font-size: 18px;
}

 div#api-docs {
  background: white;
  margin-left: 200px;
  min-width: 750;
  position: relative;
}

 div#api-docs a.section-anchor {
  display: block;
  height: 0;
}

 div#api-docs .border {
  box-shadow: rgba(0,0,0,0.3) 0 1px 1px;
  background-color: #0f131a;
  height: 0px;
  margin-left: -1px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

div#methods .method{
  padding-top:45px;
  position:relative;
  color: white;
}

div#methods .method:last-child .method-section{
  padding-bottom: 150px;
}

div#api-docs div#methods .method-section{
  clear:left;
  font-size:13px;
  line-height:1.9em;
  margin-left:-100%;
  padding-top:100px;
  position:relative;
  border-bottom: 1px solid #adbfd9;
  overflow:hidden;
  padding-bottom:45px;
}

div#api-docs div#methods .method-section .method-description{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color:#444444;
  float:left;
  padding:0 30px;
  position:relative;
  width:50%;
  z-index:15;
}

div#api-docs div#methods .method-section .method-description:before{
  background-color:#e4e8eb;
  content:"";
  display:none;
  height:1px;
  left:0;
  position:absolute;
  right:1px;
  top:-45px;
}

div#api-docs div#methods .method-section .method-description code, div#api-docs div#methods .method-section .method-description tt{
  border-radius:4px;
  background:#e9edf2;
  display:inline;
  font-size:90%;
  padding:0 3px;
}

div#api-docs div#methods .method-section .method-example code{
  color:#dae4f2;
  display:block;
  font-family:Monaco, Consolas, "Lucida Console", monospace;
  font-size:12px;
  line-height:1.7em;
  white-space:pre;
  white-space:-o-pre-wrap;
  white-space:-moz-pre-wrap;
  white-space:pre-wrap;
  word-break:break-word;
  background-color: #292e33;
}

a.parent {
  color: #008ecc;
  font-size: 0.8em;
}

 div#methods .method-section .method-example p {
  color:#dae4f2;
  font-style:italic;
  max-width:700px
}

 div#methods .method-section .method-example span.red {
  color:#f92672
}

 div#methods .method-section .method-example span.dbc-blue {
  color:#008ecc
}

 div#methods .method-section .method-example span.yellow {
  color:#e5da78
}

 div#methods .method-section .method-example span.cloud {
  color:#adbfd9
}

 div#methods .method-section .method-example span.dbc-orange {
  color:#ea4a3c
}

