<div id="guide" class="stick">
  <p class="ref-title">API</p>
  <ul class="ref-list">
    <li class="section">
      <a class="parent" href="#intro">Introduction</a>
    </li>
    <li class="section">
      <a class="parent" href="#authentication">Authentication</a>
    </li>
    <li class="section">
      <a class="parent" href="#errors">Errors</a>
    </li>
  </ul>
  <p class="ref-title">METHODS</p>
  <ul class="ref-list">
    <li class="section">
      <a class="parent" href="#Challenge-Attempts">Challenge Attempts</a>
    </li>
    <li class="section">
      <a class="parent" href="#Challenges">Challenges</a>
    </li>
    <li class="section">
      <a class="parent" href="#Cohorts">Cohorts</a>
    </li>
    <li class="section">
      <a class="parent" href="#Exercise-Attempts">Exercise Attempts</a>
    </li>
    <li class="section">
      <a class="parent" href="#Exercises">Exercises</a>
    </li>
    <li class="section">
      <a class="parent" href="#Users">Users</a>
    </li>
  </ul>
</div>
<div id="api-docs">
  <a id="top" name="top" class="section-anchor">&nbsp;</a>
  <div id="methods">

    <div class="method">
      <a id="intro" name="intro" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h1> API Reference </h1>
          <p> This is where we place our center column INTRO statements.
            </p>
            <p>If we have more than one paragraph add p tags</p>

        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>API Endpoint</h3>
          <p>https://api/devbootcamp.com/</p>
          <h5>Resource URL Patterns</h3>
          <ul>
            <li>/v1/{USER_ID}/challenge_attempts</li>
            <li>/v1/{USER_ID}/challenge_attempts/{CHALLENGE_ATTEMPTS_ID}</li>
            <li>/v1/challenges</li>
            <li>/v1/challenges/{CHALLENGES_ID}</li>
            <li>/v1/cohorts</li>
            <li>/v1/cohorts/{COHORT_ID}</li>
            <li>/v1/{USER_ID}/exercise_attempts</li>
            <li>/v1/{USER_ID}/exercise_attempts/{CHALLENGE_ATTEMPTS_ID}</li>
            <li>/v1/exercises</li>
            <li>/v1/exercises/{EXERCISES_ID}</li>
            <li>/v1/users</li>
            <li>/v1/users/{USER_ID}</li>
          </ul>
          <h3>Color codes for the examples</h3>
            <ul>
              <li><span class=red>WORD</span></li>
              <li><span class=dbc-blue >WORD</span></li>
              <li><span class=yellow >WORD</span></li>
              <li><span class=cloud >WORD</span></li>
              <li><span class=dbc-orange >WORD</span></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="method">
      <a id="authentication" name="authentication" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Authentication </h3>
          <p> This is where we place our center column Authentication statements</p>
          <p>If we have more than one paragraph add p tags</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Token Configuration</h3>
          <p>Your DevBootcamp API token should be configured as an environment variable.</p>
          <!--?prettify lang=rb -->
          <pre class="prettyprint" id="rb" style="none">
          <code>
ENV['DBC-API'] = 'test_token12345'
          </code>
          </pre>
        </div>
      </div>
    </div>
    <div class="method">
      <a id="Challenge-Attempts" name="Challenge-Attempts" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Challenge Attempts </h3>
          <p> This is where we place our center column Challenge Attempts statements
          "
          Challenge Attempts body text
          "
          </p>
          <p>If we have more than one paragraph add p tags</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOTTER</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Example Usage</h3>
          <!--?prettify lang=rb -->
          <pre class="prettyprint" id="rb" style="none">
          <code>
Socrates::ChallengeAttempts.find(1)
Socrates::ChallengeAttempts.all(per_page: 10, page: 2)
          </code>
          </pre>
          <h3>Example Response</h3>
          <!--?prettify lang=rb -->
          <pre class="prettyprint" id="rb" style="none">
          <code>
{ challenge_attempt: {
  repo: 'http://github.com/example',
  challenge_id: 1,
  finished_at: 2013-12-01 }
}
          </code>
          </pre>
        </div>
      </div>
    </div>
    <div class="method">
      <a id="Challenges" name="Challenges" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Challenges </h3>
          <p> This is where we place our center column Challenges statements
          "
          Challenges body text
          "
          </p>
          <p>If we have more than one paragraph add p tags</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOTTER</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Right Column Challenges code header</h3>
          <p>Right column Challenges code body.</p>
          <p> "Challenges CODE EXAMPLES"</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOOTTER</p>
        </div>
      </div>
    </div>
    <div class="method">
      <a id="Cohorts" name="Cohorts" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Cohorts </h3>
          <p> This is where we place our center column Cohorts statements
          "
          Cohorts body text
          "
          </p>
          <p>If we have more than one paragraph add p tags</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOTTER</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Right Column Cohorts code header</h3>
          <p>Right column Cohorts code body.</p>
          <p> "Cohorts CODE EXAMPLES"</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOOTTER</p>
        </div>
      </div>
    </div>
    <div class="method">
      <a id="Exercise-Attempts" name="Exercise-Attempts" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Exercise Attempts </h3>
          <p> This is where we place our center column Exercise Attempts statements
          "
          Exercise Attempts body text
          "
          </p>
          <p>If we have more than one paragraph add p tags</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOTTER</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Right Column Exercise Attempts code header</h3>
          <p>Right column Exercise Attempts code body.</p>
          <p> "Exercise Attempts CODE EXAMPLES"</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOOTTER</p>
        </div>
      </div>
    </div>
    <div class="method">
      <a id="Exercises" name="Exercises" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Exercises </h3>
          <p> This is where we place our center column Exercises statements
          "
          Exercises body text
          "
          </p>
          <p>If we have more than one paragraph add p tags</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOTTER</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Right Column Exercises code header</h3>
          <p>Right column Exercises code body.</p>
          <p> "Exercises CODE EXAMPLES"</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOOTTER</p>
        </div>
      </div>
    </div>
    <div class="method">
      <a id="Users" name="Users" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Users </h3>
          <p> This is where we place our center column Users statements
          "
          Users body text
          "
          </p>
          <p>If we have more than one paragraph add p tags</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOTTER</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Right Column Users code header</h3>
          <p>Right column Users code body.</p>
          <p> "Users CODE EXAMPLES"</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOOTTER</p>
        </div>
      </div>
    </div>
  </div>
</div>
