<div id="guide" class="stick">
  <p class="ref-title">API</p>
  <ul class="ref-list">
    <li class="section">
      <a class="parent" href="#intro">Introduction</a>
    </li>
    <li class="section">
      <a class="parent" href="#authentication">Authentication</a>
    </li>
    <li class="section">
      <a class="parent" href="#errors">Errors</a>
    </li>
    <li class="section">
      <a class="parent" href="#tokens">Tokens</a>
    </li>
  </ul>
</div>
<div id="api-docs">
  <a id="top" name="top" class="section-anchor">&nbsp;</a>
  <div id="methods">
    <div class="border"></div>
    <div class="method">
      <a id="intro" name="intro" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h1> API Reference </h1>
          <p> This is where we place our center column INTRO statements.
            Stripe example "The Stripe API is organized around REST. Our API is designed to have predictable, resource-oriented URLs and to use HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which can be understood by off-the-shelf HTTP clients, and we support cross-origin resource sharing to allow you to interact securely with our API from a client-side web application (though you should remember that you should never expose your secret API key in any public website's client-side code). JSON will be returned in all responses from the API, including errors."</p>
            <p>If we have more than one paragraph add p tags</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <!-- above has more css that i'm unsure of -->
          <h3>Right Column Intro code header</h3>
          <p>Right column intro code body.</p>
          <p>More body.</p>
          <h3>API Endpoints</h3>
          <ul>
            <li>This is where we list the endpoints.</li>
            <li>example /v1/users</li>
            <li>/v1/users/{USER_ID}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="method">
      <a id="authentication" name="authentication" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Authentication </h3>
          <p> This is where we place our center column Authentication statements
          "
          You authenticate to the Stripe API by providing one of
          your API keys in the request.  You can manage your API
          keys from your
          "
          </p>
          <p>If we have more than one paragraph add p tags</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Right Column Authentication code header</h3>
          <p>Right column Authentication code body.</p>
          <p> "One of your test API keys has been filled into all the examples on the page, so you can test out any example right away."
          </p>
        </div>
      </div>
    </div>
        <div class="method">
      <a id="errors" name="errors" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Errors </h3>
          <p> This is where we place our center column Error statements

          </p>
          <p>If we have more than one paragraph add p tags</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Right Column Error code header</h3>
          <p>Right column error code body.</p>
          <p> "Error examples of code."
          </p>
        </div>
      </div>
    </div>
        <div class="method">
      <a id="tokens" name="tokens" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Token </h3>
          <p> This is where we place our center column Token statements
          "
          TOKEN body text
          "
          </p>
          <p>If we have more than one paragraph add p tags</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Right Column Token code header</h3>
          <p>Right column Token code body.</p>
          <p> "TOKEN CODE EXAMPLES"
          </p>
        </div>
      </div>
    </div>
  </div>
</div>