<div id="guide" class="stick">
  <p class="ref-title">API</p>
  <ul class="ref-list">
    <li class="section">
      <a class="parent" href="#intro">Introduction</a>
    </li>
    <li class="section">
      <a class="parent" href="#authentication">Authentication</a>
    </li>
    <li class="section">
      <a class="parent" href="#errors">Errors</a>
    </li>
  </ul>
  <p class="ref-title">METHODS</p>
  <ul class="ref-list">
    <li class="section">
      <a class="parent" href="#API-Keys">API Keys</a>
    </li>
    <li class="section">
      <a class="parent" href="#Challenge-Attempts">Challenge Attempts</a>
    </li>
    <li class="section">
      <a class="parent" href="#Challenges">Challenges</a>
    </li>
    <li class="section">
      <a class="parent" href="#Cohorts">Cohorts</a>
    </li>
    <li class="section">
      <a class="parent" href="#Exercise-Attempts">Exercise Attempts</a>
    </li>
    <li class="section">
      <a class="parent" href="#Exercises">Exercises</a>
    </li>
    <li class="section">
      <a class="parent" href="#Users">Users</a>
    </li>
  </ul>
</div>
<div id="api-docs">
  <a id="top" name="top" class="section-anchor">&nbsp;</a>
  <div id="methods">
    
    <div class="method">
      <a id="intro" name="intro" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h1> API Reference </h1>
          <p> This is where we place our center column INTRO statements.
            Stripe example "The Stripe API is organized around REST. Our API is designed to have predictable, resource-oriented URLs and to use HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which can be understood by off-the-shelf HTTP clients, and we support cross-origin resource sharing to allow you to interact securely with our API from a client-side web application (though you should remember that you should never expose your secret API key in any public website's client-side code). JSON will be returned in all responses from the API, including errors."</p>
            <p>If we have more than one paragraph add p tags</p>

        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Right Column Intro code header</h3>
          <p>Right column intro code body.</p>
          <p>More body.</p>
          <h3>API Endpoints</h3>
          <ul>
            <li>This is where we list the endpoints.</li>
            <li>example /v1/users</li>
            <li>/v1/users/{USER_ID}</li>
            <li>
              <!--?prettify lang=rb -->

              <pre class="prettyprint" id="rb" style="none">
                <code>
                  def polyval(x, coef)
                  sum = 0
                  coef = coef.clone           # Don't want to destroy the original
                  while true
                      sum += coef.shift       # Add and remove the next coef
                      break if coef.empty?    # If no more, done entirely.
                      sum *= x                # This happens the right number of times.
                  end
                  return sum
                    end
                </code>
              </pre>
            </li>
          </ul>
          <h3>Color codes for the examples</h3>
            <ul>
              <li><span class=red>WORD</span></li>
              <li><span class=dbc-blue >WORD</span></li>
              <li><span class=yellow >WORD</span></li>
              <li><span class=cloud >WORD</span></li>
              <li><span class=dbc-orange >WORD</span></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="method">
      <a id="authentication" name="authentication" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Authentication </h3>
          <p> This is where we place our center column Authentication statements
          "
          You authenticate to the Stripe API by providing one of
          your API keys in the request.  You can manage your API
          keys from your
          "
          </p>
          <p>If we have more than one paragraph add p tags</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Right Column Authentication code header</h3>
          <p>Right column Authentication code body.</p>
          <p> "One of your test API keys has been filled into all the examples on the page, so you can test out any example right away."
          </p>
          <p> start
            THIS IS TESTING IF THE PAGE IS OVERLY LONG ON THE Right SIDE!
          </p>
            <p>THIS IS TESTING IF THE PAGE IS OVERLY LONG ON THE Right SIDE!</p>
            <p>THIS IS TESTING IF THE PAGE IS OVERLY LONG ON THE Right SIDE!</p>
            <p>THIS IS TESTING IF THE PAGE IS OVERLY LONG ON THE Right SIDE!</p>
            <p>THIS IS TESTING IF THE PAGE IS OVERLY LONG ON THE Right SIDE!</p>
            <p>THIS IS TESTING IF THE PAGE IS OVERLY LONG ON THE Right SIDE!</p>
        </div>
      </div>
    </div>
    <div class="method">
      <a id="errors" name="errors" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Errors </h3>
          <p> This is where we place our center column Error statements
          </p>
          <p>If we have more than one paragraph add p tags</p>
          <p> start 
            THIS IS TESTING IF THE PAGE IS OVERLY LONG ON THE LEFT SIDE!</p>
          <p>THIS IS TESTING IF THE PAGE IS OVERLY LONG ON THE LEFT SIDE!</p>
          <p>THIS IS TESTING IF THE PAGE IS OVERLY LONG ON THE LEFT SIDE!</p>
          <p>THIS IS TESTING IF THE PAGE IS OVERLY LONG ON THE LEFT SIDE!</p>
          <p>THIS IS TESTING IF THE PAGE IS OVERLY LONG ON THE LEFT SIDE!</p>
          <p>THIS IS TESTING IF THE PAGE IS OVERLY LONG ON THE LEFT SIDE!</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>HTTP Status Code Summary </h3>
          <p>200 OK - Everything worked as expected.</p>
          <p>400 Bad Request - Often missing a required parameter.</p>
          <p>401 Unauthorized - No valid API key provided.</p>
          <p>402 Request Failed - Parameters were valid but request failed.</p>
          <p>404 Not Found - The requested item doesn't exist.</p>
          <p>500, 502, 503, 504 Server errors - something went wrong on our end. Sorry!</p>
        </div>
      </div>
    </div>
    <div class="method">
      <a id="API-Keys" name="API-Keys" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> API Keys </h3>
          <p> This is where we place our center column API Keys statements
          "
          API Keys body text
          "
          </p>
          <p>If we have more than one paragraph add p tags</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOTTER</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Right Column API Keys code header</h3>
          <p>Right column API Keys code body.</p>
          <p> "API Keys CODE EXAMPLES"</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOOTTER</p>
        </div>
      </div>
    </div>
    <div class="method">
      <a id="Challenge-Attempts" name="Challenge-Attempts" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Challenge Attempts </h3>
          <p> This is where we place our center column Challenge Attempts statements
          "
          Challenge Attempts body text
          "
          </p>
          <p>If we have more than one paragraph add p tags</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOTTER</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Right Column Challenge Attempts code header</h3>
          <p>Right column Challenge Attempts code body.</p>
          <p> "Challenge Attempts CODE EXAMPLES"</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOOTTER</p>
        </div>
      </div>
    </div>
    <div class="method">
      <a id="Challenges" name="Challenges" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Challenges </h3>
          <p> This is where we place our center column Challenges statements
          "
          Challenges body text
          "
          </p>
          <p>If we have more than one paragraph add p tags</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOTTER</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Right Column Challenges code header</h3>
          <p>Right column Challenges code body.</p>
          <p> "Challenges CODE EXAMPLES"</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOOTTER</p>
        </div>
      </div>
    </div>
    <div class="method">
      <a id="Cohorts" name="Cohorts" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Cohorts </h3>
          <p> This is where we place our center column Cohorts statements
          "
          Cohorts body text
          "
          </p>
          <p>If we have more than one paragraph add p tags</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOTTER</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Right Column Cohorts code header</h3>
          <p>Right column Cohorts code body.</p>
          <p> "Cohorts CODE EXAMPLES"</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOOTTER</p>
        </div>
      </div>
    </div>
    <div class="method">
      <a id="Exercise-Attempts" name="Exercise-Attempts" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Exercise Attempts </h3>
          <p> This is where we place our center column Exercise Attempts statements
          "
          Exercise Attempts body text
          "
          </p>
          <p>If we have more than one paragraph add p tags</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOTTER</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Right Column Exercise Attempts code header</h3>
          <p>Right column Exercise Attempts code body.</p>
          <p> "Exercise Attempts CODE EXAMPLES"</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOOTTER</p>
        </div>
      </div>
    </div>
    <div class="method">
      <a id="Exercises" name="Exercises" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Exercises </h3>
          <p> This is where we place our center column Exercises statements
          "
          Exercises body text
          "
          </p>
          <p>If we have more than one paragraph add p tags</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOTTER</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Right Column Exercises code header</h3>
          <p>Right column Exercises code body.</p>
          <p> "Exercises CODE EXAMPLES"</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOOTTER</p>
        </div>
      </div>
    </div>
    <div class="method">
      <a id="Users" name="Users" class="section-anchor">&nbsp;</a>
      <div class="method-section">
        <div class="method-description">
          <h3> Users </h3>
          <p> This is where we place our center column Users statements
          "
          Users body text
          "
          </p>
          <p>If we have more than one paragraph add p tags</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOTTER</p>
        </div>
        <div class="method-example" id="api-summary-eample">
          <h3>Right Column Users code header</h3>
          <p>Right column Users code body.</p>
          <p> "Users CODE EXAMPLES"</p>
          <p> END OF PAGE! THIS SHOULD BE ABOVE THE FOOTTER</p>
        </div>
      </div>
    </div>
  </div>
</div>
