<div class='container main-content'>
  <% if authenticated? %>
  <p>Hello <%=current_user.name%>!</p>
  <button class='api-key'>Click here to see your API key</button>
  <p>Your API key is:   </p>
  <% else %>
  <p>Sign in to see your API key</p>
  <% end %>
</div>
<div class='main-background'>
</div>
