<div class='container main-content'>
  <div class='dev-description'>
    <h2>Welcome to Dev Bootcamp Dev Tools.</h2>
    <p>Sign in to see your API key or create oauth tokens to integrate your app with <a href='https://auth.devbootcamp.com'>Devbootcamp Auth</a>.</p>
    <p>Check out the API documentation on the documentation page</p>
    <p>Here are some other tools you can use for your apps:</p>
    <ul>
      <li>link to dbc-ruby api gem</li>
      <li>link to omniauth strategy</li>
      <li>link to demo app skeletons</li>
    </ul>
  </div>
</div>
<div class='main-background'>
</div>
