<div class='container main-content landing'>
  <div class='dev-description'>
    <h2>Welcome to Dev Bootcamp Developer</h2>
    <a href='/sign_in' class='landing-sign-in'>Sign in to access your API key and oauth tokens</a>
  </div>
</div>
