<div class='container main-content landing'>
  <div class='dev-description'>
    <h2>Welcome to Dev Bootcamp Developer</h2>
    <button class='landing-sign-in'>Sign in to access your API key and oauth tokens</button>
  </div>
</div>
