<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <div class='container'>
      <h1><a href='/'>Dev Bootcamp Dev Tools</a></h1>
      <nav>
        <ul>
          <% if authenticated? %>
          <li class='current-user'><img src=<%=current_user.gravatar%>>Signed In as <%=current_user.name%><br><a href='/sign_out'>Sign Out</a></li>
          <% else %>
          <li><a href='/sign_in'>Sign In</a></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
