<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <script src="/js/application.js"></script>

  <link href="/css/prettify.css" type="text/css" rel="stylesheet" />

  <title></title>
</head>
<body>
  <header>
    <div class='container'>
      <h1><a href='/'>Dev Bootcamp Dev Tools</a></h1>
      <nav>
        <ul>
          <li><a href='/documentation'>Documentation</a></li>
          <li><a href='#'>Help & Support</a></li>
          <% if authenticated? %>
          <li class='current-user'><a href='/sign_out'>Sign Out</a><img src=<%=current_user.gravatar%>></li>
          <% else %>
          <li><a class='sign-in' href='/sign_in'>Sign In</a></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <div class='content'>
    <%= yield %>
  </div>
  <footer>
    <div class='container'>
      <nav>
        <ul>
          <li><a href='/documentation'>Documentation</a></li>
          <li><a href='#'>Help & Support</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
</html>
