<div class='container main-content'>
  <div class='account-info'>
    <div class='account-row'>
      <h2>My API key</h2>
    </div>
    <div class='account-row'>
      <p>Put key here</p>
    </div>
    <div class='account-row'>
      <h2>My Applications</h2>
      <button class='new-app'>Create a new application</button>
    </div>
    <div class='account-row'>
      <h3>Application Name</h3>
      <p>auth id</p>
      <p>auth secret</p>
    </div>
  </div>
</div>
