<div class='container main-content'>
  <div class='account-info'>
    <div class='account-row'>
      <h2>My API key</h2>
    </div>
    <div class='account-row'>
      <p><%=current_user.api_key.key%></p>
    </div>
  </div>
</div>
